body {
    /*background-color: black;*/
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    /*background-color: black;*/
}

/* INICIO DOS ESTILOS HEADER */

header {
    background-color: rgba(0, 51, 102, 0.8);
    /*z-index: 900;*/
}

header .container {
    padding: 0;
}

.header-logo img {
    margin-top: 12px;
    height: 30px;
    width: 90px;
}

/*FIM DOS ESTILOS DO HEADER */

/* INICIO DOS ESTILOS DO BODY */

.section-banner .container {
    display: flex;
    padding-top: 5em;
}

.section-banner {
    background-image: url(../www/images/coding.jpg);
    background-size: cover;
    height: 680px;
}

.card-banner {
    height: 500px;
    background-color: rgba(255, 255, 255, 1);
    box-shadow: 0 0 30px rgba(48, 48, 48, 1);
    flex-grow: 1;
}

#card-banner-esquerda {
    margin-right: 150px;
}

/*.section-titulo {
    height: 700px;
    background-image: url(../www/images/pic-code.png);
    background-size: cover;
    font-size: 45px;
    letter-spacing: 3px;
    line-height: 75px;
    display: block;
    height: 500px;*/

/*margin-top: 300px;*/

/*z-index: -1;*/

/*}

.div-texto {
    width: 100%;
    max-width: 1000px;
    margin: auto;
}

.slider-p {
    margin: -10px 0 -10px 0;
    padding-top: 40px;
    display: none;
}

.active {
    display: block;
}

.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}
#progress{
    border-radius: 10px;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

#bar{
    border-radius: 10px;
    width: 1%;
    height: 2px;
    opacity: 0.85;
    background-color: white;
}*/

.section-produtos {
    height: 680px;
    background-color:  #f4f4f4;
    padding: 65px;
}

.card-lista-de-produtos {
    height: 550px;
    background-color: rgba(252, 252, 252, 1);
    border-radius: 30px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.section-contato {
    height: 550px;
    padding: 30px;
}

form {
    text-align: center;
    margin: 0 350px;
    box-sizing: border-box;
    background: #f4f4f4;
    border-radius: 10px;
    padding: 25px 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.footer-logo img {
    margin-top: 30px;
    width: 90px;
}

footer {
    background-color: rgba(216, 214, 214, 0.2);
    height: 200px;
}

.footer-endereco h1 {
    font-size: 20px;
}

.footer-endereco p {
    text-align: left;
    margin: 20px 15px 15px 15px;
    font-size: 15px;
}

.footer-atendimento h1 {
    font-size: 20px;
}

.footer-atendimento p1 {
    margin: 20px 15px 15px 15px;
    font-size: 15px;
}
